<h1 class="mt-5">Heros <small>Marvel and DC</small></h1>
<hr>


<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let hero of heros ; let i = index">
        <img src="{{hero.img}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{hero.nombre}}</h5>

            <p class="card-text">{{hero.casa}}</p>
            <p class="card-text"><small class="text-muted">{{hero.aparicion}}</small></p>
            <a type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/hero',i]">More info...</a>
        </div>
    </div>
</div>